* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
/* Стили для списка стран */
.country-list {
  list-style: none;
  padding: 0;
}

.country-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.country-list-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* Тень на картинку */
}

.country-list-text {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  /* Добавлено свойство flex-grow для растяжения текста на всю доступную ширину */
}

/* Стили для информации о стране */
.country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.country-name img {
  width: 100px;
  height: 100%;
  margin-right: 20px;
  border: 1px solid #000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.country-name h1 {
  font-size: 24px;
  font-weight: bold;
}

.country-details {
  list-style: none;
  padding: 0;
}

.country-details li {
  display: flex;
  margin-bottom: 5px;
}

.country-details li span {
  font-weight: bold;
  margin-right: 5px;
}